.info {
  padding: 15px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  border: 1px #28c1eb solid;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
.legend {
  background: white;
  background: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
.leaflet-tile-pane {
  display: none;
}
