.DS_Store
.project
.svn/
.settings
lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
*.log
results
build
.grunt
docs

node_modules
.idea

coverage
build
bower_components

src/app/*.template.js
src/app/*.openfda.js
src/assets/*openfda.css
src/app/*.vendor.js
src/assets/*.openfda.css
*.diff
client_test_results.xml
e2e_test_report

