.DS_Store
.project
.svn/
.settings
lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
*.log
results
build
.grunt
docs

node_modules
.idea

coverage
build
bower_components

app/*.template.js
app/*.openfda.js
assets/*openfda.css
app/*.vendor.js
assets/*.openfda.css
*.diff
client_test_results.xml
e2e_test_report

