<div ng-controller="searchResultsController as searchResultsCtrl">
    <div ng-show="searchResultsCtrl.docs.length > 0">
        <div class="text-center">
            <pagination total-items="searchResultsCtrl.totalItems" ng-change="searchResultsCtrl.pageChanged()" ng-model="searchResultsCtrl.currentPage" max-size="searchResultsCtrl.maxSize" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
        </div>

        <div class="search-result" ng-repeat="doc in searchResultsCtrl.docs">
            <h4>{{doc.title[0]}}</h4>
            <h5>Author: <span>{{doc.author}}</span></h5>
            <!--<h6>Path</h6>-->
            <div class="search-result-path">
                 <a ng-href="{{doc.resourcename.replace(searchResultsCtrl.removeUrl,searchResultsCtrl.addUrl)}}">{{doc.resourcename}}</a>
            </div>
            <!--<h6 style="display:none">Type: {{doc.content_type}}</h6>-->
            <h6>Last Modified: <span>{{doc.last_modified | date:'MMMM d, yyyy @ h:mm:ss a'}}</span></h6>
            <hr>
        </div>

        <div class="text-center">
            <pagination total-items="searchResultsCtrl.totalItems" ng-change="searchResultsCtrl.pageChanged()" ng-model="searchResultsCtrl.currentPage" max-size="searchResultsCtrl.maxSize" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
        </div>

    </div>
</div>