<nav id="header-nav" class="navbar navbar-app navbar-absolute-top" role="navigation" ng-controller="headerController as headerCtrl"
     role="navigation" >
    <div class="container" >
        <div id="navbar">
            <ul class="nav navbar-nav" ng-repeat="r in headerCtrl.routes">
                <li >

                    <a ng-class="isNavbarActive(r.name)" ng-click="headerCtrl.routeChange(r.name)" class="links-14">{{r.caption}}</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
